In [1]:
import pandas as pd

In [3]:
import pandas as pd
import os
import glob
import json
from tqdm import tqdm
from concurrent.futures import ThreadPoolExecutor, as_completed
import threading

def process_json_file(json_file):
    """Process a single JSON file and return its data"""
    try:
        with open(json_file, 'r', encoding='utf-8') as f:
            data = json.load(f)
            # If data is a dictionary, convert to list
            if isinstance(data, dict):
                return [data]
            elif isinstance(data, list):
                return data
            else:
                return []
    except Exception as e:
        print(f"Error reading {json_file}: {e}")
        return []

# Find all JSON files in data/ directory and subdirectories
all_json_files = glob.glob("data/**/*.json", recursive=True)
print(f"Found {len(all_json_files)} JSON files")

# Read and combine all JSON files into a single DataFrame using thread-based parallel processing
data_list = []
max_workers = min(8, len(all_json_files))  # Use fewer threads to avoid overwhelming the system

with ThreadPoolExecutor(max_workers=max_workers) as executor:
    # Submit all tasks
    future_to_file = {executor.submit(process_json_file, json_file): json_file 
                      for json_file in all_json_files}
    
    # Process completed tasks with progress bar
    for future in tqdm(as_completed(future_to_file), 
                       total=len(all_json_files), 
                       desc="Processing JSON files", 
                       unit="file"):
        file_data = future.result()
        if file_data:
            data_list.extend(file_data)

# Convert to DataFrame and save as CSV
if data_list:
    print("Converting to DataFrame and saving...")
    df = pd.DataFrame(data_list)
    output_file = "data/combined_vessels.csv"
    df.to_csv(output_file, index=False)
    print(f"Combined {len(data_list)} records into {output_file}")
    print(f"DataFrame shape: {df.shape}")
else:
    print("No data found to combine")

Found 140627 JSON files

Processing JSON files: 100%|██████████| 140627/140627 [00:05<00:00, 24323.06file/s]

Converting to DataFrame and saving...
Combined 140627 records into data/combined_vessels.csv
DataFrame shape: (140627, 23)

In [4]:
df

,IMO number,MMSI,Former names,Vessel type,Operating status,Flag,Length,Breadth,Year of build,Builder,...,Description,Vessel name,Gross tonnage (tons),Deadweight (tons),source_url,Classification society,Engine type,Engine model,Engine power,Draft
0,7426150,271000249,BURCIN KALKAVAN(2000)KAPTAN T.M.(1998)DURSUN R...,General cargo vessel,Active,Turkey,130m,20m,1975,"MIE SHIPYARD - YOKKAICHI, JAPAN",...,LIMA II is a General cargo vessel built in 197...,LIMA II,8033tons,12303tons,https://www.balticshipping.com/vessel/imo/7426150,NaN,NaN,NaN,NaN,NaN
1,7330715,431401588,KAZU MARU NO.8(2013),Crane vessel,Active,Japan,NaN,14m,1973,"MATSUBARA KOKI SHIPBUILDING - ONOMICHI, JAPAN",...,DONRICH is a Crane vessel built in 1973 by MAT...,DONRICH,446tons,1118tons,https://www.balticshipping.com/vessel/imo/7330715,NaN,NaN,NaN,NaN,NaN
2,5353933,NaN,TOPMAST NO.14(1949)EMPIRE FLORA(1948),Tug boat,Decommissioned or lost,Italy,37m,8m,1945,"COCHRANE SHIPBUILDERS - SELBY, U.K.",...,TAURUS is a Tug boat built in 1945 by COCHRANE...,TAURUS,299tons,NaN,https://www.balticshipping.com/vessel/imo/5353933,REGISTRO ITALIANO NAVALE,NaN,NaN,NaN,NaN
3,6810718,NaN,NaN,Fishing vessel,Decommissioned or lost,Russian Federation,99m,14m,1963,"BLACK SEA SHIPYARD - NIKOLAYEV, UKRAINE",...,OKTYABRSK is a Fishing vessel built in 1963 by...,OKTYABRSK,3301tons,2506tons,https://www.balticshipping.com/vessel/imo/6810718,NaN,NaN,NaN,NaN,NaN
4,9075670,477690400,OCEAN AMBER(2017)NOBLE UNION(2011)NUEVA UNION(...,Bulk carrier,Active,Hong Kong,224m,32m,1994,"HYUNDAI HEAVY INDUSTRIES CO. LTD. - ULSAN, SOU...",...,SOLOMON TRADER is a Bulk carrier built in 1994...,SOLOMON TRADER,38779tons,73592tons,https://www.balticshipping.com/vessel/imo/9075670,NIPPON KAIJI KYOKAI (NKK),MAN-B&W,6K67GF,12900 KW,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140622,9269635,263701290,NaN,Passenger vessel,Active,Portugal,37m,10m,2002,"AUSTAL SHIPS - FREMANTLE, AUSTRALIA",...,CESARIO VERDE is a Passenger vessel built in 2...,CESARIO VERDE,342tons,NaN,https://www.balticshipping.com/vessel/imo/9269635,NaN,NaN,NaN,NaN,NaN
140623,7514012,NaN,HOKUSHO MARU NO.61(1991)TOKAI MARU NO.38(1985)...,Fishing vessel,Decommissioned or lost,Japan,48m,8m,1975,"NIIGATA SHIPBUILDING & REPAIR - NIIGATA, JAPAN",...,HISAYOSHI MARU NO.58 is a Fishing vessel built...,HISAYOSHI MARU NO.58,299tons,NaN,https://www.balticshipping.com/vessel/imo/7514012,NaN,NaN,NaN,NaN,NaN
140624,5163819,NaN,MELENGER(1962)YW 93,Chemical/Oil tanker,Decommissioned or lost,Bahamas,53m,9m,1944,CONSOLIDATED WESTERN STEEL SAN PEDRO - SAN PED...,...,IRVING HICKORY is a Chemical/Oil tanker built ...,IRVING HICKORY,614tons,1006tons,https://www.balticshipping.com/vessel/imo/5163819,NaN,NaN,NaN,NaN,NaN
140625,9119098,548223000,NaN,Bulk carrier,Decommissioned or lost,Philippines,199m,32m,1995,SANOYAS MIZUSHIMA WORKS & SHIPYARD - KURASHIKI...,...,WORLD SWAN is a Bulk carrier built in 1995 by ...,WORLD SWAN,39023tons,46799tons,https://www.balticshipping.com/vessel/imo/9119098,NIPPON KAIJI KYOKAI (NKK),NaN,NaN,NaN,NaN
140626,7202657,NaN,COLUMBIA(1914),Fishing vessel,Decommissioned or lost,NaN,29m,5m,1914,"KING & WINGE - SEATTLE WA, U.S.A.",...,KING & WINGE is a Fishing vessel built in 1914...,KING & WINGE,143tons,NaN,https://www.balticshipping.com/vessel/imo/7202657,NaN,NaN,NaN,NaN,NaN

In [7]:
df.Flag

['Turkey',
 'Japan',
 'Italy',
 'Russian Federation',
 'Hong Kong',
 'United Kingdom (UK)',
 'Tuvalu',
 'Sierra Leone',
 'Canada',
 'Liberia',
 'Palau',
 'Japan',
 'Angola',
 'Singapore',
 'Panama',
 'Italy',
 'Peru',
 'Ecuador',
 'Indonesia',
 'Brazil',
 'Indonesia',
 'United Kingdom (UK)',
 'Panama',
 'Canada',
 'United States (USA)',
 'Netherlands',
 nan,
 'Russian Federation',
 'Panama',
 'Indonesia',
 'Japan',
 'Russian Federation',
 'Panama',
 'Germany',
 'France',
 'Marshall Islands',
 'Indonesia',
 'Panama',
 'Cyprus',
 'United States (USA)',
 nan,
 'United States (USA)',
 'Russian Federation',
 'Spain',
 'Honduras',
 'Vietnam',
 'India',
 'Russian Federation',
 'Equatorial Guinea',
 'Panama',
 'Russian Federation',
 nan,
 'Spain',
 'United Arab Emirates',
 'Russian Federation',
 'Indonesia',
 'Romania',
 'Denmark',
 nan,
 'Nigeria',
 'Iran',
 'United States (USA)',
 'Singapore',
 nan,
 'Palau',
 'Thailand',
 'Thailand',
 'Singapore',
 'Russian Federation',
 'Iran',
 'Panama',
 'Panama',
 'United Kingdom (UK)',
 'Belize',
 'Cayman Islands',
 'Japan',
 'Japan',
 'China',
 'Sierra Leone',
 'Panama',
 'United States (USA)',
 'Saint Vincent & the Grenadines',
 'Turkey',
 nan,
 'China',
 'Liberia',
 'Thailand',
 'Portugal',
 'India',
 'Hong Kong',
 'Algeria',
 'Panama',
 'South Korea',
 nan,
 nan,
 'Panama',
 'Brazil',
 'United States (USA)',
 nan,
 'United Kingdom (UK)',
 'Saudi Arabia',
 'Sierra Leone',
 'Australia',
 'Norway',
 'Nigeria',
 'Panama',
 'Argentina',
 'Indonesia',
 'Finland',
 'Panama',
 'Australia',
 'China',
 'China',
 'United States (USA)',
 nan,
 'Morocco',
 'Vietnam',
 'China',
 'Saint Vincent & the Grenadines',
 'Marshall Islands',
 'Mongolia',
 'Thailand',
 'United States (USA)',
 'Russian Federation',
 'Germany',
 'Greece',
 'Palau',
 'Panama',
 'Greece',
 'United States (USA)',
 'Mauritania',
 'Colombia',
 'China',
 'Latvia',
 nan,
 'Antigua & Barbuda',
 'Gibraltar',
 nan,
 'United States (USA)',
 'Sierra Leone',
 'Spain',
 'Japan',
 'Lebanon',
 'Malaysia',
 'Japan',
 'Cyprus',
 'China',
 'United Kingdom (UK)',
 'Japan',
 'Panama',
 'Portugal',
 'Argentina',
 'United States (USA)',
 'Liberia',
 'Panama',
 'Algeria',
 'Honduras',
 'Cyprus',
 'Hong Kong',
 'Kuwait',
 'Indonesia',
 'Russian Federation',
 'Antigua & Barbuda',
 'Japan',
 'Panama',
 'Panama',
 'Mozambique',
 'Malta',
 nan,
 'Cyprus',
 'Russian Federation',
 'Marshall Islands',
 'Japan',
 nan,
 'Norway',
 'Norway',
 'Liberia',
 'Luxembourg',
 'Japan',
 'Indonesia',
 'India',
 'Japan',
 'Cyprus',
 'Ukraine',
 'North Korea',
 'Japan',
 'China',
 nan,
 'Mexico',
 'Russian Federation',
 'United Kingdom (UK)',
 'United States (USA)',
 'Japan',
 'Liberia',
 'Syria',
 'South Korea',
 'South Korea',
 'Philippines',
 'Estonia',
 'Indonesia',
 'United Kingdom (UK)',
 'Gibraltar',
 'Cyprus',
 'France',
 'Liberia',
 'Russian Federation',
 nan,
 'Norway',
 'Guyana',
 'Indonesia',
 'Liberia',
 'Taiwan',
 'Russian Federation',
 'Indonesia',
 'United States (USA)',
 'Mexico',
 'Japan',
 'Germany',
 'Nigeria',
 'Greece',
 nan,
 nan,
 'Cyprus',
 'Panama',
 'Japan',
 nan,
 'Bahamas',
 'Cyprus',
 nan,
 'Indonesia',
 'Tanzania',
 'United States (USA)',
 'Moldova',
 'United States (USA)',
 'Canada',
 'China',
 'Honduras',
 'Australia',
 'Bahrain',
 'Russian Federation',
 'United Kingdom (UK)',
 'South Korea',
 'Netherlands',
 'Russian Federation',
 'Panama',
 'Liberia',
 'North Korea',
 'Norway',
 'Greece',
 'Singapore',
 'Italy',
 'Germany',
 'Algeria',
 'Netherlands',
 'United Kingdom (UK)',
 'Italy',
 'Malta',
 'Russian Federation',
 'United States (USA)',
 'Japan',
 'Japan',
 'India',
 'China',
 'Singapore',
 'Italy',
 'Greece',
 'Bahamas',
 'United Arab Emirates',
 'Russian Federation',
 'Japan',
 nan,
 'Russian Federation',
 'Panama',
 'Spain',
 nan,
 nan,
 'Cayman Islands',
 'Saint Vincent & the Grenadines',
 nan,
 'Singapore',
 'Liberia',
 'Japan',
 'Netherlands',
 'Netherlands',
 'United Kingdom (UK)',
 'Portugal',
 'Russian Federation',
 'South Korea',
 'Italy',
 'Cyprus',
 'Spain',
 'Liberia',
 'Canada',
 nan,
 'Panama',
 'Netherlands',
 'Indonesia',
 'Belgium',
 nan,
 'Japan',
 'Indonesia',
 nan,
 nan,
 'Indonesia',
 nan,
 'India',
 'United States (USA)',
 'Netherlands',
 'Azerbaijan',
 'Hong Kong',
 'Netherlands',
 'Moldova',
 'Cambodia',
 nan,
 'Philippines',
 'Azerbaijan',
 'Papua New Guinea',
 'United States (USA)',
 'Bahamas',
 'Cyprus',
 'Norway',
 'Netherlands',
 'South Korea',
 'Panama',
 'Greece',
 nan,
 'Russian Federation',
 'Panama',
 'Liberia',
 'Thailand',
 'United States (USA)',
 'South Korea',
 nan,
 'Russian Federation',
 'Panama',
 'Russian Federation',
 'Japan',
 'Netherlands',
 'Mongolia',
 'Finland',
 'Dominica',
 'Brazil',
 'United States (USA)',
 nan,
 'Hong Kong',
 'Albania',
 'United States (USA)',
 'Portugal',
 'Ukraine',
 'Norway',
 'Iran',
 'China',
 'United States (USA)',
 'Taiwan',
 'Japan',
 'Japan',
 'Marshall Islands',
 nan,
 'Denmark',
 'Panama',
 'Indonesia',
 nan,
 'Cameroon',
 nan,
 'Mexico',
 'Vietnam',
 'Panama',
 'Liberia',
 'Philippines',
 'Taiwan',
 'Cyprus',
 'Lebanon',
 'Liberia',
 'Vietnam',
 'Spain',
 'Russian Federation',
 nan,
 'Indonesia',
 'Panama',
 'Finland',
 'Panama',
 'Syria',
 'Canada',
 'Hong Kong',
 'Liberia',
 'Cayman Islands',
 'Cyprus',
 'Indonesia',
 'Greece',
 'South Africa',
 'Singapore',
 'Panama',
 'United Kingdom (UK)',
 'Panama',
 'Singapore',
 'Uruguay',
 'Guinea',
 'Thailand',
 'Uruguay',
 'United States (USA)',
 'Norway',
 'Panama',
 'Panama',
 'Liberia',
 'United States (USA)',
 nan,
 nan,
 'Sri Lanka',
 'Iran',
 'Russian Federation',
 'Cayman Islands',
 'Norway',
 'Barbados',
 nan,
 'China',
 'Georgia',
 'Panama',
 'Kuwait',
 'Greece',
 'Japan',
 'United Arab Emirates',
 'Canada',
 nan,
 'Saint Vincent & the Grenadines',
 'Saint Vincent & the Grenadines',
 'Indonesia',
 'Japan',
 'China',
 nan,
 'Finland',
 nan,
 'Italy',
 'Sierra Leone',
 'Russian Federation',
 nan,
 'Italy',
 'Russian Federation',
 'Russian Federation',
 'Russian Federation',
 'Yemen',
 'Greece',
 'Indonesia',
 'Italy',
 'United Kingdom (UK)',
 nan,
 'Russian Federation',
 'Malaysia',
 'China',
 'Japan',
 'Panama',
 'Spain',
 'Japan',
 'Taiwan',
 'France',
 'United Kingdom (UK)',
 'South Korea',
 'Malta',
 'South Korea',
 'Indonesia',
 'Liberia',
 'Norway',
 'China',
 'Ecuador',
 'Italy',
 'Sierra Leone',
 'Malta',
 nan,
 'Tuvalu',
 'Panama',
 'United States (USA)',
 'Italy',
 'Mexico',
 'Indonesia',
 'China',
 'Peru',
 'China',
 'Russian Federation',
 'China',
 'Sierra Leone',
 'Indonesia',
 'United States (USA)',
 'Norway',
 'Mexico',
 'Spain',
 nan,
 'Russian Federation',
 'Russian Federation',
 'Spain',
 'Saudi Arabia',
 nan,
 'India',
 'Russian Federation',
 nan,
 'Canada',
 nan,
 'Norway',
 'India',
 'Nigeria',
 'Australia',
 'Indonesia',
 'South Korea',
 'Bolivia',
 'Japan',
 'Saudi Arabia',
 'Egypt',
 nan,
 'South Africa',
 nan,
 'Cuba',
 'Russian Federation',
 'Netherlands',
 'Gibraltar',
 'Iceland',
 'Indonesia',
 'Turkey',
 nan,
 'Indonesia',
 'Philippines',
 'Greece',
 'India',
 'United States (USA)',
 'Gibraltar',
 nan,
 'United Kingdom (UK)',
 'United States (USA)',
 'Russian Federation',
 nan,
 'United Kingdom (UK)',
 'Turkey',
 'Panama',
 'Russian Federation',
 'China',
 nan,
 'China',
 'Marshall Islands',
 'Angola',
 'China',
 'India',
 'Antigua & Barbuda',
 'United States (USA)',
 'Japan',
 'Ecuador',
 nan,
 'India',
 'Senegal',
 'Greece',
 'France',
 'Mongolia',
 'United States (USA)',
 'Russian Federation',
 'South Korea',
 'Japan',
 'Malta',
 'Greece',
 'Bahamas',
 'Panama',
 'Cyprus',
 'Malta',
 'Japan',
 'Italy',
 'United States (USA)',
 'Indonesia',
 'Indonesia',
 'Spain',
 'Indonesia',
 'Cambodia',
 'Russian Federation',
 'China',
 'Panama',
 'Panama',
 'Marshall Islands',
 'Japan',
 nan,
 'Canada',
 nan,
 'Hong Kong',
 'Senegal',
 'Cyprus',
 'Kenya',
 'North Korea',
 nan,
 'Vietnam',
 'Bahamas',
 'United States (USA)',
 'United States (USA)',
 'United States (USA)',
 'Malta',
 'Russian Federation',
 nan,
 nan,
 nan,
 'Panama',
 'Netherlands',
 'Denmark',
 nan,
 nan,
 nan,
 'Italy',
 'Panama',
 'Vietnam',
 'Turkey',
 'Panama',
 nan,
 nan,
 nan,
 'Bahamas',
 nan,
 'Thailand',
 'Panama',
 'Belize',
 'Philippines',
 'Vietnam',
 'Greece',
 'United States (USA)',
 'United States (USA)',
 'United States (USA)',
 'Cameroon',
 'Senegal',
 'Japan',
 'Finland',
 'Vietnam',
 'Norway',
 'United States (USA)',
 nan,
 'United States (USA)',
 'Greece',
 'Marshall Islands',
 nan,
 'Liberia',
 'Greece',
 'Indonesia',
 nan,
 nan,
 'Italy',
 'Japan',
 'Costa Rica',
 'Switzerland',
 'Finland',
 'Russian Federation',
 'Japan',
 'Taiwan',
 'Russian Federation',
 'Saint Vincent & the Grenadines',
 'Panama',
 'Chile',
 nan,
 'China',
 'South Korea',
 'Spain',
 'Indonesia',
 'Malta',
 'Panama',
 'United States (USA)',
 'Panama',
 'China',
 'United States (USA)',
 'Japan',
 'Mongolia',
 'Japan',
 'Singapore',
 'Spain',
 nan,
 'Panama',
 'Grenada',
 'Cyprus',
 nan,
 'Australia',
 'France',
 'Honduras',
 'Indonesia',
 'United States (USA)',
 nan,
 'Sweden',
 'India',
 'Honduras',
 'Kenya',
 'Uruguay',
 'Indonesia',
 'South Korea',
 'Japan',
 nan,
 'Cayman Islands',
 'Japan',
 'Japan',
 'Singapore',
 'Canada',
 'United States (USA)',
 nan,
 'Japan',
 'Philippines',
 'Germany',
 'Netherlands',
 'South Korea',
 'Australia',
 'Panama',
 'China',
 'Ukraine',
 'Hong Kong',
 'Panama',
 'Ghana',
 nan,
 'Japan',
 nan,
 'China',
 'United States (USA)',
 'Greece',
 'China',
 'Vietnam',
 'Russian Federation',
 'Saint Vincent & the Grenadines',
 'Singapore',
 'Bolivia',
 'Bahamas',
 'South Korea',
 'India',
 nan,
 nan,
 'Norway',
 'South Korea',
 'Indonesia',
 'United States (USA)',
 'Russian Federation',
 'Netherlands',
 'United States (USA)',
 nan,
 'Turkey',
 'Netherlands',
 'Cyprus',
 'Germany',
 'Peru',
 'India',
 'Panama',
 nan,
 'United Kingdom (UK)',
 'Peru',
 'Japan',
 'Cambodia',
 nan,
 'United Kingdom (UK)',
 'Indonesia',
 'Indonesia',
 'Saint Vincent & the Grenadines',
 'Cayman Islands',
 'Russian Federation',
 'Ukraine',
 'Honduras',
 'Guinea',
 'Cyprus',
 'Hong Kong',
 nan,
 'Liberia',
 'Saudi Arabia',
 'Spain',
 'China',
 'China',
 'Spain',
 'United Arab Emirates',
 'Russian Federation',
 'United States (USA)',
 'United States (USA)',
 'Mexico',
 'Canada',
 'Panama',
 'France',
 'Holy See (Vatican City)',
 'Spain',
 'Spain',
 nan,
 'Russian Federation',
 'Vietnam',
 'Turkey',
 'Indonesia',
 'Saint Vincent & the Grenadines',
 'Marshall Islands',
 'Spain',
 'South Korea',
 nan,
 'Cyprus',
 nan,
 nan,
 'Turkey',
 'Saint Vincent & the Grenadines',
 nan,
 'Singapore',
 'China',
 'Comoros',
 'Panama',
 'Marshall Islands',
 'Japan',
 'Singapore',
 'Japan',
 'Greece',
 'Palau',
 'United States (USA)',
 'Malaysia',
 'Marshall Islands',
 'Denmark',
 'Malta',
 'Saudi Arabia',
 'Panama',
 'Thailand',
 'Russian Federation',
 'Saudi Arabia',
 nan,
 'Malaysia',
 nan,
 'Japan',
 'India',
 'Cyprus',
 'Serbia',
 'Netherlands',
 nan,
 'Singapore',
 'South Korea',
 'China',
 'Japan',
 'Namibia',
 'Philippines',
 'Russian Federation',
 nan,
 'Russian Federation',
 'Japan',
 'Cayman Islands',
 'Vietnam',
 'Japan',
 'Saint Vincent & the Grenadines',
 'Panama',
 'Cuba',
 'Japan',
 'United States (USA)',
 'Mexico',
 'Hong Kong',
 'Norway',
 'Russian Federation',
 'Japan',
 'Mexico',
 'China',
 'Philippines',
 'Cape Verde',
 'Cyprus',
 'United States (USA)',
 'Malaysia',
 'Panama',
 'Nigeria',
 'Mongolia',
 'United States (USA)',
 'Norway',
 'Honduras',
 nan,
 'Netherlands',
 'China',
 'United States (USA)',
 nan,
 'Panama',
 nan,
 nan,
 'Palau',
 'Thailand',
 'North Korea',
 'Panama',
 'Moldova',
 'China',
 'Norway',
 'India',
 nan,
 'Myanmar (Burma)',
 'Singapore',
 'Indonesia',
 'Spain',
 'Panama',
 'South Korea',
 'Iran',
 'Panama',
 'Japan',
 'Russian Federation',
 'Cayman Islands',
 'Japan',
 nan,
 'Saint Kitts and Nevis',
 'United States (USA)',
 'Malaysia',
 'Japan',
 nan,
 nan,
 'Indonesia',
 'Liberia',
 'Norway',
 'United Arab Emirates',
 nan,
 'Netherlands',
 nan,
 'Italy',
 nan,
 nan,
 'United States (USA)',
 nan,
 'United Kingdom (UK)',
 'Algeria',
 'United Kingdom (UK)',
 'Belgium',
 'Germany',
 nan,
 nan,
 'China',
 'United States (USA)',
 'Austria',
 nan,
 nan,
 'United States (USA)',
 'Mexico',
 'Vanuatu',
 'Saint Vincent & the Grenadines',
 'Turkey',
 'Bahrain',
 'Norway',
 'Panama',
 'Panama',
 'Panama',
 'United States (USA)',
 'China',
 'Panama',
 'United States (USA)',
 'Cambodia',
 'Japan',
 'United States (USA)',
 'Japan',
 'Hong Kong',
 'Russian Federation',
 'Japan',
 'Marshall Islands',
 'Iraq',
 'South Korea',
 'Norway',
 'Panama',
 'United States (USA)',
 'Marshall Islands',
 'China',
 'Yemen',
 'Ireland',
 'Denmark',
 nan,
 'Philippines',
 'Antigua & Barbuda',
 'Tanzania',
 'Russian Federation',
 'Tanzania',
 'Hong Kong',
 'Singapore',
 'Comoros',
 'Japan',
 'Japan',
 nan,
 'Russian Federation',
 'Norway',
 'Panama',
 nan,
 'Bahamas',
 'Turkey',
 'Lebanon',
 'Turkey',
 'Indonesia',
 'Panama',
 'Japan',
 'Indonesia',
 'North Korea',
 'Romania',
 nan,
 'Malaysia',
 'Taiwan',
 'China',
 'United Kingdom (UK)',
 'China',
 'Liberia',
 'Panama',
 'Russian Federation',
 'Panama',
 'United States (USA)',
 'Singapore',
 'China',
 'Bulgaria',
 nan,
 'Denmark',
 'Indonesia',
 'France',
 nan,
 'Cyprus',
 'Vanuatu',
 nan,
 'Greece',
 'Gibraltar',
 'Indonesia',
 'United States (USA)',
 'Vietnam',
 nan,
 nan,
 nan,
 'Hong Kong',
 'Tanzania',
 'Japan',
 'United States (USA)',
 ...]